/* color variables */
:root{
    --primary-color: #33803f;
    --primary-hover-color: #07300d;
}
.headings{
    color: var(--primary-color);
    text-transform: uppercase;
}
.paragraphs{
    font-size: 12px;
}