/* GLOBAL STYLES */

/* Color variables */
:root{
  --primary-color: #33803f;
  --primary-hover-color: #07300d;
}
.selector-for-some-widget {
    box-sizing: content-box;
}
.spacer{
  height: 50px;
}
.smallLinePr,
.smallLineWhite{
  width: 60px;
  border: 3px solid;
  border-radius: 5px;
  margin: 25px auto 15px 0;
}.smallLinePr{
  border-color:var(--primary-color);
  margin: 25px auto 15px 0;
}
.smallLineWhite{
  border-color: #fff;
  margin: 25px auto 15px 0;
}
/* background primary color */
.bg-pr{
  background-color: var(--primary-color);
}
body{
  position: relative;
}

/* headings */
h1,h2,h3,h4,h5,h6{
  color: var(--primary-color);
  text-transform: uppercase;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
  color: #fff;
}
/* links */
a{
  color: var(--primary-color);
  transition: all 0.3s;
}
a:hover{
  color: var(--primary-hover-color);
  text-decoration: none;
}
/* buttons */

/* primary Button */
.btn-pr,
.btn-pr2{
  text-transform: uppercase;
  letter-spacing: .6px;
  font-weight: 500;
  box-shadow: none;
  transition: all 0.3s;
}
.btn-pr2:enabled,
.btn-pr:enabled{
  box-shadow: none;
}

.btn-pr{
  background: var(--primary-color);
  color: #fff;
}

.btn-pr2:hover,
.btn-pr2:active,
.btn-pr:active,
.btn-pr:hover{
  box-shadow: none;
  color: #fff;
}
.btn-pr:hover{
  background: var(--primary-hover-color);
}

/* button with primary border and white background */
.btn-pr2{
  background: #fff;
  color: var(--primary-color);
border: solid var(--primary-color) 2px;
}

.btn-pr2:active,
.btn-pr2:hover{
  background: var(--primary-color);
}



/* navigation bar */
nav{
  box-shadow: 0px 0px 12px var(--primary-color);
}


/* header */
.mainMenu ul li a{
  color: var(--primary-color) !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s;
}
.mainMenu ul li a:hover,
.mainMenu ul li a:active{
  color: var(--primary-hover-color) !important;
  border-bottom: 2px solid var(--primary-hover-color);
}


/* slider */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slidercontent {
  background-color: var(--primary-color);
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.slidercontent > h2 {
  color: #fff;
}
.sliderNavigators {
  margin-top: 320px;
}
.sliderNavigators > span {
  transform: translateY(-120px);
}

/* Few words about college */
.fewWordsLogo img{
  width: 85%;
  margin: auto;
}
.fewWordsLogo{
  text-align: center;
  padding: 30px;
}

/* statistics */
.statisticsContainer .smallLineWhite{
  margin: 25px auto 15px auto;
}
.statisticsHr{
  width: 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 10px auto 15px auto;
}
.statisticsIcons {
  margin-bottom:30px;
}
.statisticsIcons i {
  display: inline-block;
  font-size: 380%;
  line-height: 70.4px;
  padding: 30px;
  border: solid 1px;
  border-radius: 50%;
  /* margin: 20px 1px 0 1px; */
  /* background-color: rgba(239, 186, 108, 0.2); */
}
.statisticsIcons .fa-landmark,
.statisticsIcons .fa-suitcase {
  line-height: 70.4px;
  padding: 30px 37px;

}
.statisticsCountDiv{
  font-size: 200%;
}
.statisticsCountTitle{
  font-size: 130%;
}

/* news posts */
.singlePostDiv{
  background-color: rgb(237, 237, 237);
  margin: 50px 0 40px 0;
  border-radius: 15px;
}
.newsPostTextDiv{
  padding: 5px 12px 20px 12px;
}
.postImg img{
  width: 100%;
}
.newsPostTitle{
  font-size: 140%;
  padding: 20px 0;
  color: var(--primary-color);
}
.newsPostDateText{
  font-size: 90%;
}
.newsPostDate{
  font-style: italic;
}
.newsPostDate i{
  font-size: 150%;
  padding-right: 10px;
  color: var(--primary-color);
}

/* contactPage */

.contact {
  /* background: url("./images/contactbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.contactForm {
  background: #dfdfdfcc;
  padding: 30px 20px;
  border-radius: 25px;
}
.contactTag {
  /* background: #33803f; */
  padding: 3px;
}
.contactForm label {
  color: var(--primary-color);
}
.callIcon {
  color: var(--primary-color);
  border: var(--primary-color) solid 3px;
  border-radius: 50%;
  display: inline-block;
  font-size: 500%;
  line-height: 10.4px;
  padding: 30px;
  background-color: rgba(239, 187, 108, 0);
  margin: auto;
}
.contactFirstSec {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* news notification */
.marQuee{
  width: relative;
  display: inline block;
  position: relative;
  animation: myani 12s infinite;
  animation-timing-function: linear;
  animation-direction: initial;
}
.marQuee:hover{
  animation-play-state: paused;
}

@keyframes myani{

  0%{
      bottom: -270px;
  }
  100%{
      bottom: 298px;  
  }
}
.modal-body{
  overflow: hidden;
}

/* news notification button */
.newsButtonParent {
  left: -03%;
  max-width: fit-content;
  overflow: hidden;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 50px;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  top: 48px;
  left: 48px;

}

.circleBorder {
  width: 50px;
  height: 50px;
  background-color: rgba(248, 248, 248, 0);
  border: #ffc420 2px solid;
  border-radius: 50%;
  box-sizing: border-box;
  animation: glo 1.2s infinite;
  animation-direction: initial;
  animation-timing-function: linear;
  border-collapse: separate;

}

@keyframes glo {
  0% {
      padding: 27px;
      margin: 49px;
  }

  100% {
      padding: 36px;
      margin: 40px;
  }
}

/* Users page */
.user{
  padding: 30px;
  background-color: #eee;
  border-radius: 25px;
}
.loginDiv{
  border-right: solid 3px var(--primary-color);
}
.loginDiv,
.signupDiv{
  padding: 10px 25px;
}


/* footer */
.page-footer{
  background-color: #333;
  color: #bcbec0;
}
.page-footer a{
  color: #bcbec0;
  border-bottom:#bcbec000 solid 2px;
}
.page-footer a:hover{
  color: #86888a;
  border-bottom: #86888a solid 2px;
}
.footer-copyright{
  background-color: #212121;
  color: #fff;
}
.footerSocialIcons{
  font-size: 200%;
}
.footerSocialIcons a:hover{
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.footerSocialIcons .btn-fb:hover{
  color: #3b5998;
}
.footerSocialIcons .btn-yt:hover{
  color: #FF0000;
}
.footerSocialIcons .btn-github:hover{
  color: #fff;
}
.footerNewsLetter input{
  width: 100%;
  padding: 2px 4px;
  margin: 4px;
  border-radius: 5px;
}
.footerNewsLetter input[type=submit]{
  border: none;
}




 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }


 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* users   */
  .loginDiv{
    border-bottom: solid 3px var(--primary-color);
    border-right:none;
  } 
}

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* global  */
  .smd-none{
    display: none;
  }
  .spacer{
    height: 25px;
  }

  .logo{
    max-width: 180px;
  }
  .navbar-toggler-icon{
    font-size: 70%;
  }

  /* news Notificaton button  */

  .circle {
    width: 40px;
    height: 40px;
    padding: 9px 0;
    margin: 0;
    top: 28px;
    left: 28px;

}

.circleBorder {
    width: 20px;
    height: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

@keyframes glo {
    0% {
        padding: 20px;
        margin: 26px;
    }

    100% {
        padding: 26px;
        margin: 20px;
    }
}

/* footer */
.newsLetterHeading{
  text-align: center !important;
}
.footerNewsLetter input{
  width: 80%;
  padding: 2px;
  margin: 4px;
}

}

