/* GLOBAL STYLES */

/* Color variables */
:root{
  --primary-color: #33803f;
  --primary-hover-color: #07300d;
}
.selector-for-some-widget {
    box-sizing: content-box;
}
.spacer{
  height: 50px;
}
.smallLinePr,
.smallLineWhite{
  width: 60px;
  border: 3px solid;
  border-radius: 5px;
  margin: 25px auto 15px 0;
}.smallLinePr{
  border-color:var(--primary-color);
  margin: 25px auto 15px 0;
}
.smallLineWhite{
  border-color: #fff;
  margin: 25px auto 15px 0;
}

/* background primary color */
.bg-pr{
  background-color: var(--primary-color);
}


/* navigation bar */
nav{
  box-shadow: 0px 0px 12px var(--primary-color);
}


/* header */
.mainMenu ul li a{
  color: var(--primary-color) !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s;
}
.mainMenu ul li a:hover,
.mainMenu ul li a:active{
  color: var(--primary-hover-color) !important;
  border-bottom: 2px solid var(--primary-hover-color);
}


/* slider */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slidercontent {
  background-color: var(--primary-color);
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.slidercontent > h2 {
  color: #fff;
}
.sliderNavigators {
  margin-top: 320px;
}
.sliderNavigators > span {
  transform: translateY(-120px);
}

/* Few words about college */
.fewWordsLogo img{
  width: 85%;
  margin: auto;
}
.fewWordsLogo{
  text-align: center;
  padding: 30px;
}

/* statistics */
.statisticsContainer .smallLineWhite{
  margin: 25px auto 15px auto;
}
.statisticsHr{
  width: 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 10px auto 15px auto;
}
.statisticsIcons {
  margin-bottom:30px;
}
.statisticsIcons i {
  display: inline-block;
  font-size: 380%;
  line-height: 70.4px;
  padding: 30px;
  border: solid 1px;
  border-radius: 50%;
  /* margin: 20px 1px 0 1px; */
  /* background-color: rgba(239, 186, 108, 0.2); */
}
.statisticsIcons .fa-landmark,
.statisticsIcons .fa-suitcase {
  line-height: 70.4px;
  padding: 30px 37px;

}
.statisticsCountDiv{
  font-size: 200%;
}
.statisticsCountTitle{
  font-size: 130%;
}


/* footer */
.page-footer{
  background-color: rgb(126, 126, 126) ;
  color: aliceblue;
  padding-bottom: 5px;
}





 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }


 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .logo{
    max-width: 180px;
  }
  .navbar-toggler-icon{
    font-size: 70%;
  }
}

