.marQuee{
    width: relative;
    display: inline block;
    position: relative;
    animation: myani 12s infinite;
    animation-timing-function: linear;
    animation-direction: initial;
}
@keyframes myani{

    0%{
        bottom: -310px;
    }
    100%{
        bottom: 298px;  
    }
}
.modal-body{
    overflow: hidden;
}